/* STANDARD TAG REDEFINITIONS */
BODY{ color: White; font-family: courier, Arial, Helvetica, sans-serif; font-size: 10pt; background-color: rgb(83, 55, 36); margin: 0; padding: 0; }
TD {font-size: 10pt;  }
p { font-size: 10pt;  margin-bottom: 7px; margin-top: 0; }
a{ color: #473013; text-decoration: none; }
a:hover{	text-decoration: underline;  color: White;   }
form{	margin:0;}

#header{	width:1500px; margin-left:auto; margin-right:auto;}
#header ul{ margin: 0; padding-left: 0; height: 44px; line-height: 44px; display: block; list-style: none; background-color: #7c684e; background-image: url(); background-repeat: no-repeat;  }
#header li{ display: inline; background-color: #7c684e;  float: right;  }
#header li a{ height: 44px; line-height: 44px; display: block; padding-left: 27px; padding-right: 27px; border-left: 1px solid rgb(94, 86, 80);  float: left;     }
#header li a:hover{ background-color: #503e2d; text-decoration: none;}
#header .Visual{ height:130px; background-image: url(images/bg_visual.jpg);  background-repeat: no-repeat;  background-color: #4492C8;  border-top: 3px solid #7c684e;   }
h1{ margin: 0; padding: 40px 0 0 0; font-family: "trebuchet ms",courier, arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: White;  font-size: 20pt;  }

#CONTENT{ width:1500px; margin-left:auto; margin-right:auto;   }
h2{ margin: 0; padding: 24px 0 7px 0px; font-family: "trebuchet ms",courier, arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: White; font-size: 15pt; }
#TEXT{ padding: 35px 40px 35px 40px; border-bottom: 1px solid #5f4c41; border-top: 1px solid #7c684e; background-color: #7c684e; }
#TEXT p{	margin-bottom: 1em;}

#FOOTER{	width:1500px; margin-top:27px; margin-left:auto; margin-right:auto;  border-top: 4px solid #7c684e;  text-align: right;  padding-top: 5px;   }
#FOOTER p{ font-size: 11px; line-height: 14px; margin: 0;  color: #DDDDDD; }
#FOOTER a{ font-size: 11px;	font-weight: normal;	text-decoration: none;  color: White;    }
#FOOTER a:hover{ color: white; text-decoration: underline; }

