{%extends "base.html" %}

{%block titulo%}- Libro -{%endblock%}

{%block subtitulo%}Belén Nazareth Durán Meléndez{%endblock%}

{%block contenido%}

{%for book in books -%}
    
    {%if book.isbn == isbn -%}
        
        {%if book.status == "MEAP" -%}
            <p>ESTE LIBRO NO SE HA PUBLICADO</p>
        {%endif-%}
        
        <li>{{book.title}}</li>
        <li><img src="{{book.thumbnailUrl}}"></img></li>
        <li>{{book.pageCount}}</li>
        <li>{{book.shortDescription}}</li>
        <!-- tengo que hacer for -->
        {%for author in book.authors-%}
            <li>{{author}}</li>
        {%endfor-%} 
        {%for category in book.categories -%} 
            <li><a href="/categoria/{{category}}">{{category}}</a></li>
        {%endfor-%}
        
    {%endif-%}
{% endfor -%}

{%endblock%}