{%extends "base.html" %}

{%block titulo%}- Libro -{%endblock%}

{%block subtitulo%}{%endblock%}

{%block contenido%}

{%for book in books -%}
    
    {%if book.isbn == isbn -%}
        
        {%if book.status == "MEAP" -%}
            <p>ESTE LIBRO NO SE HA PUBLICADO</p>
        {%endif-%}
        
        
        <h4>{{book.title}}</h4>
        
        <p><img src="{{book.thumbnailUrl}}"></img></p>
        
        <li>Páginas: {{book.pageCount}}</li>
        
        <li>Descripción corta: {{book.shortDescription}}</li>
        
        <li>Autor/es: </li>
        
        {%for author in book.authors-%}
            <ul><li>{{author}}</li></ul>
        {%endfor-%} 
        
        <li>Categorías: </li>

        {%for category in book.categories -%} 
            <ul><li><a href="/categoria/{{category}}">{{category}}</a></li></ul>
        {%endfor-%}
        
    {%endif-%}
{% endfor -%}

{%endblock%}